.become-teacher-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.become-teacher-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );;
}
.become-teacher-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #000000,5px 5px 10px 0px #0057b3;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.become-teacher-navlink {
  color: var(--dl-color-gray-black);
  font-size: 25px;
  align-self: center;
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
}
.become-teacher-hero {
  width: 1568px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: center;
}
.become-teacher-container2 {
  width: 50%;
  height: 496px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.become-teacher-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: 232323;
}
.become-teacher-container3 {
  width: 789px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.become-teacher-text02 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-halfunit);
}
.become-teacher-container4 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
.become-teacher-form {
  width: 437px;
  height: 524px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #000000,5px 5px 10px 0px #22899b;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.become-teacher-text05 {
  opacity: 0.8;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Arial Black;
  font-weight: 600;
}
.become-teacher-textinput {
  width: 340px;
  height: 35px;
  font-family: Arial Black;
}
.become-teacher-text08 {
  opacity: 0.8;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Arial Black;
  font-weight: 600;
}
.become-teacher-textinput1 {
  width: 340px;
  height: 35px;
  font-family: Arial Black;
}
.become-teacher-text09 {
  opacity: 0.8;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Arial Black;
  font-weight: 600;
}
.become-teacher-textinput2 {
  width: 340px;
  height: 35px;
  font-family: Arial Black;
}
.become-teacher-text12 {
  opacity: 0.8;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Arial Black;
  font-weight: 600;
}
.become-teacher-textinput3 {
  width: 340px;
  height: 35px;
  font-family: Arial Black;
}
.become-teacher-login {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: Arial Black;
  font-weight: 900;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.become-teacher-login:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.become-teacher-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.become-teacher-container5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.become-teacher-logo {
  height: 63px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.become-teacher-navlink1 {
  font-size: 25px;
  font-style: normal;
  text-align: left;
  font-weight: 900;
  text-transform: capitalize;
  text-decoration: none;
}
.become-teacher-navlink1:focus {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}
.become-teacher-text15 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.become-teacher-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.become-teacher-container6 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.become-teacher-container7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.become-teacher-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.become-teacher-text18 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.become-teacher-text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.become-teacher-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.become-teacher-text21 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.become-teacher-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.become-teacher-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.become-teacher-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.become-teacher-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.become-teacher-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 991px) {
  .become-teacher-hero {
    flex-direction: column;
  }
  .become-teacher-text02 {
    text-align: center;
  }
  .become-teacher-container4 {
    grid-template-columns: 1fr;
  }
  .become-teacher-footer {
    flex-direction: column;
  }
  .become-teacher-container6 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .become-teacher-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .become-teacher-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .become-teacher-container3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .become-teacher-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .become-teacher-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .become-teacher-logo {
    align-items: center;
  }
  .become-teacher-text15 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .become-teacher-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .become-teacher-container6 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .become-teacher-header {
    padding: var(--dl-space-space-unit);
  }
  .become-teacher-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .become-teacher-container3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .become-teacher-footer {
    padding: var(--dl-space-space-unit);
  }
  .become-teacher-container5 {
    align-items: center;
    flex-direction: column;
  }
  .become-teacher-text15 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .become-teacher-links-container {
    align-items: center;
    flex-direction: column;
  }
  .become-teacher-container6 {
    margin-right: 0px;
  }
  .become-teacher-container7 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .become-teacher-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
}
