.student-dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.student-dashboard-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.student-dashboard-container2 {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );;
}
.student-dashboard-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #000000,5px 5px 10px 0px #0057b3;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.student-dashboard-navlink {
  color: var(--dl-color-gray-black);
  font-size: 25px;
  align-self: center;
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
}
.student-dashboard-hero {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 699px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: center;
}
.student-dashboard-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.student-dashboard-container3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.student-dashboard-logo {
  height: 63px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.student-dashboard-navlink1 {
  font-size: 25px;
  font-style: normal;
  text-align: left;
  font-weight: 900;
  text-transform: capitalize;
  text-decoration: none;
}
.student-dashboard-navlink1:focus {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}
.student-dashboard-text2 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.student-dashboard-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.student-dashboard-container4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.student-dashboard-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.student-dashboard-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.student-dashboard-text5 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.student-dashboard-text6 {
  margin-bottom: var(--dl-space-space-unit);
}
.student-dashboard-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.student-dashboard-text8 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.student-dashboard-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.student-dashboard-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.student-dashboard-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.student-dashboard-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.student-dashboard-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 991px) {
  .student-dashboard-hero {
    flex-direction: column;
  }
  .student-dashboard-footer {
    flex-direction: column;
  }
  .student-dashboard-container4 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .student-dashboard-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .student-dashboard-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .student-dashboard-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .student-dashboard-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .student-dashboard-logo {
    align-items: center;
  }
  .student-dashboard-text2 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .student-dashboard-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .student-dashboard-container4 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .student-dashboard-header {
    padding: var(--dl-space-space-unit);
  }
  .student-dashboard-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .student-dashboard-footer {
    padding: var(--dl-space-space-unit);
  }
  .student-dashboard-container3 {
    align-items: center;
    flex-direction: column;
  }
  .student-dashboard-text2 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .student-dashboard-links-container {
    align-items: center;
    flex-direction: column;
  }
  .student-dashboard-container4 {
    margin-right: 0px;
  }
  .student-dashboard-container5 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .student-dashboard-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
}
